.section {
    display: grid;
    justify-items: center;
}

.temps {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: end;
}

.current_temperature {
    font-size: 10rem;
    line-height: 1;
}

.min_max {
    margin-left: 1rem;
}

.min_max>div:not(:last-child) {
    margin-bottom: .5rem;
}

.description {
    font-size: 4rem;
}

.box {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}