.container {
    position: absolute;
    width: 100%;
    top: 20px;
    z-index: 10;
    bottom: 0;
    scroll-snap-type: block mandatory;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none;
}

.button_wrap {
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    height: 45%;
    opacity: 0;
    transition: opacity .5s;
}

.button_wrap:last-of-type {
    height: 100%;
}

.button_wrap.active .button {
    color: rgb(34, 34, 34) !important;
    font-weight: 600;
}


.button_wrap.active, .button_wrap.active ~ .button_wrap{
    opacity: 1;
}

.button_wrap.active {
    position: sticky;
    top: 0;
}

.button {
    text-decoration: none !important;
    color: rgb(54, 54, 54) !important;
    padding: 0;
    height: 2em;
}